body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


/*font-family: "Noto Sans JP", sans-serif  - для основных шрифтов */

/*  font-family: "Montserrat", sans-serif; - для datepicker*/